/* https://github.com/alamorre/nextjs-chat-tutorial/blob/main/styles/auth.css */
.background {
  padding: 100px;
  position: absolute;
  top: 0px;
  left: 0px;
  width: calc(100vw - 200px);
  height: calc(100vh - 200px);
  background: linear-gradient(
    153deg,
    rgba(147, 221, 227, 1) 0%,
    rgba(147, 216, 224, 1) 19%,
    rgba(147, 232, 175, 1) 74%,
    rgba(66, 210, 153, 1) 100%
  );
}

.wrapper {
  width: 420px;
  height: 292px;
  position: relative;
  top: calc(50vh - 144px - 100px);
  left: calc(50vw - 240px - 100px);
  background: #fff;
  border-radius: 24px;
  color: #212121;
  box-shadow: 0 2px 15px rgb(0 0 0 / 68%);
}

.form {
  padding-top: 33px;
  width: 60%;
  margin-left: 20%;
}

.title {
  padding-bottom: 20px;
  width: 100%;
  text-align: center;
  font-size: 26px;
}

.input {
  width: 90%;
  padding: 10px;
  margin-bottom: 24px;
  outline: none;
  border-width: 0px;
  border-bottom: 2px solid #345beb;
}

.button {
  width: 90%;
  padding: 10px;
  border-radius: 4px;
  border-width: 0px;
  cursor: pointer;
  color: #fff;
  background-color: #345beb;
  outline: none;
  /* &:hover {
    background-color: opacity(0.8);
  } */
}
